.video-background {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: rgba (0,0,0,.2); /*Change the last value to alter transparency of video clip*/
    }

.caption {
    position: absolute;
    top:38%;
    width: 100%;
    color: white
    }
.image {
    position: absolute;
    top:38%;
    }

